.large { font-size: $font-size-lg; }

//*		background
#Background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -100;

	.noise {
		position: absolute;
		top: -50%;
		left: -50%;
		height: 200%;
		width: 200%;
		z-index: 1;
		mix-blend-mode: overlay;
		filter: grayscale(1);
		animation: noise 0.09s infinite;
	}

	.bg-circles {
		opacity: 0.7;
		filter: blur(150px);
	}

	.bg-circle {
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		bottom: auto;
		width: 30vw;
		height: 30vw;
		border-radius: 100%;
		opacity: 1;

		&._1 {
			width: 35vw;
			height: 35vw;
			margin-top: -16%;
			margin-left: -16%;
			border-radius: 20%;
			background-color: $purple-500;
			animation: bg-circle-1 16s linear 0s infinite;
		}

		&._2 {
			margin-top: 40%;
			border-radius: 30%;
			background-color: $purple-700;
			opacity: 0.5;
			animation: bg-circle-2 16s linear 0s infinite;
		}

		&._3 {
			width: 60vw;
			height: 60vw;
			margin-top: -2%;
			margin-left: 52%;
			background-color: $cream-300;
			animation: bg-circle-3 16s linear 0s infinite;
		}

		&._4 {
			left: auto;
			right: 0;
			width: 50vw;
			height: 50vw;
			margin-top: -20%;
			margin-right: -10%;
			background-color: $red-500;
			opacity: 0.8;
			animation: bg-circle-4 16s linear 0s infinite;
		}

		&._5 {
			margin-top: 25%;
			margin-left: 30%;
			border-radius: 20%;
			background-color: $purple-300;
			animation: bg-circle-5 16s linear 0s infinite;
		}

		&._6 {
			left: auto;
			right: 0;
			bottom: 0;
			width: 40vw;
			height: 40vw;
			margin-top: 35%;
			margin-right: -16%;
			margin-bottom: -20%;
			background-color: $red-300;
			animation: bg-circle-6 16s linear 0s infinite;
		}
	}
}



//*		buttons
//		base styles
.btn {
	padding: calc(var(--#{$prefix}btn-padding-y) / 2) var(--#{$prefix}btn-padding-x) var(--#{$prefix}btn-padding-y);
	text-transform: lowercase;
}



//*		forms
//		form control
//		textarea
textarea {
	&.form-control {
		//@extend textarea.form-control;

		@include border-radius($form-textarea-border-radius);
	}

	&.form-control-sm {
		//@extend textarea.form-control-sm;

		@include border-radius($form-textarea-border-radius-sm);
	}

	&.form-control-lg {
		//@extend textarea.form-control-lg;

		@include border-radius($form-textarea-border-radius-lg);
	}
}



//*		animations
//		bg-noise
@keyframes noise {
	0% {
		top: -50%;
		left: -50%;
	}
	10% {
		top: -55%;
		left: -60%;
	}
	20% {
		top: -55%;
		left: -45%;
	}
	30% {
		top: -43%;
		left: -75%;
	}
	40% {
		top: -30%;
		left: -25%;
	}
	50% {
		top: -75%;
		left: -40%;
	}
	60% {
		top: -35%;
		left: -45%;
	}
	70% {
		top: 0;
		left: -35%;
	}
	80% {
		top: -25%;
		left: -15%;
	}
	90% {
		top: -60%;
		left: -40%;
	}
	100% {
		top: 0;
		left: 0;
	}
}

//		bg-circles
@keyframes bg-circle-1 {
	0% {
		transform: scale(2, 2);
	}
	25%,
	50% {
		transform: scale(1, 1);
	}
	75%,
	100% {
		transform: scale(2, 2);
	}
}

@keyframes bg-circle-2 {
	0% {
		transform: scale(1, 1);
	}
	25%,
	50%,
	75% {
		transform: scale(2, 2);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes bg-circle-3 {
	0% {
		transform: scale(1, 1);
		opacity: 0;
	}
	25%,
	50%,
	75% {
		transform: scale(2, 2);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@keyframes bg-circle-4 {
	0%,
	25% {
		transform: scale(2, 2);
	}
	50%,
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(2, 2);
	}
}

@keyframes bg-circle-5 {
	0% {
		transform: scale(2, 2);
		opacity: 0.8;
	}
	25%,
	50% {
		transform: scale(1, 1);
		opacity: 0;
	}
	75%,
	100% {
		transform: scale(2, 2);
		opacity: 0.8;
	}
}

@keyframes bg-circle-6 {
	0%,
	25% {
		transform: scale(1, 1);
		opacity: 1;
	}
	50%,
	75% {
		transform: scale(2, 2);
		opacity: 0.2;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}