//*		gray colors map
$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
);

$custom-colors: (
	"cream":  $cream
);

$colors: map-merge($colors, $custom-colors);

$creams: (
	"cream-100": $cream-100,
	"cream-200": $cream-200,
	"cream-300": $cream-300,
	"cream-400": $cream-400,
	"cream-500": $cream-500,
	"cream-600": $cream-600,
	"cream-700": $cream-700,
	"cream-800": $cream-800,
	"cream-900": $cream-900
);

$color-contrast-dark:   $gray-900;
$color-contrast-light:  $cream-500;



//*		theme color variables
$primary:		$purple;
$secondary:	$red;
$danger:		$orange;
$light:			shade-color($cream-500, 5%);
$dark:			$gray-900;



//*		theme color map
$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
);

$primary-text:            $purple-600;
$secondary-text:          $red-600;
$danger-text:             $orange-600;

$primary-bg-subtle:       $purple-100;
$secondary-bg-subtle:     $red-100;
$danger-bg-subtle:        $orange-100;

$primary-border-subtle:   $purple-200;
$secondary-border-subtle: $red-200;
$danger-border-subtle:    $orange-200;



//*		body settings
$body-color:	        $gray-900;
$body-bg:			        $cream-500;

$component-active-bg: $primary;



//*		anchor settings
$link-color:						$secondary;
$link-decoration:				null;
$link-hover-decoration:	underline;



//*		font variables
$font-weight-base:	$font-weight-light;

$h1-font-size:			$font-size-base * 3;
$h2-font-size:			$font-size-base * 2.5;
$h3-font-size:			$font-size-base * 2;



//*		headings variables
$headings-font-family:	$font-family-serif;
$headings-font-weight:	$font-weight-normal;



//*		display headings variables
$display-font-family:	$font-family-serif;
$display-font-weight:	$font-weight-normal;



//*		input button variables
$input-btn-font-family:       $font-family-serif;
$input-btn-font-size:         $h4-font-size;
$input-btn-focus-color:       rgba($component-active-bg, $input-btn-focus-color-opacity);
$input-btn-focus-box-shadow:  0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;




//*		button variables
$btn-font-family:				$input-btn-font-family;
$btn-font-size:					$input-btn-font-size;

$btn-border-radius:			$border-radius-pill;
$btn-border-radius-sm:	$border-radius-pill;
$btn-border-radius-lg:	$border-radius-pill;



//*		chip variables
$chip-padding-y:						$input-btn-padding-y !default;
$chip-padding-x:						$input-btn-padding-x !default;
$chip-font-family:					$input-btn-font-family !default;
$chip-font-size:						$input-btn-font-size !default;
$chip-font-weight:					$font-weight-normal !default;
$chip-line-height:					$input-btn-line-height !default;
$chip-white-space:					null !default; // Set to `nowrap` to prevent text wrapping

$chip-padding-y-sm:					$input-btn-padding-y-sm !default;
$chip-padding-x-sm:					$input-btn-padding-x-sm !default;
$chip-font-size-sm:					$input-btn-font-size-sm !default;

$chip-padding-y-lg:					$input-btn-padding-y-lg !default;
$chip-padding-x-lg:					$input-btn-padding-x-lg !default;
$chip-font-size-lg:					$input-btn-font-size-lg !default;

$chip-border-width:					$input-btn-border-width !default;

$chip-disabled-opacity:			0.65 !default;
$chip-link-disabled-color:	$gray-600 !default;

$chip-link-color:						var(--#{$prefix}link-color) !default;

$chip-border-radius:				$border-radius-pill !default;
$chip-border-radius-sm:			$border-radius-pill !default;
$chip-border-radius-lg:			$border-radius-pill !default;



//*		nav variables
$nav-link-color:	$gray-900;



//*		navbar variables
$navbar-light-color:							$gray-900;
$navbar-light-hover-color:				rgba($gray-900, 0.7);
$navbar-light-brand-color:				$gray-900;
$navbar-light-brand-hover-color:	rgba($gray-900, 0.7);



//*		form variables
//		form input
$input-border-radius:								$border-radius-pill;
$input-border-radius-sm:						$border-radius-pill;
$input-border-radius-lg:          	$border-radius-pill;

$form-textarea-border-radius:				$border-radius-2xl;
$form-textarea-border-radius-sm:		$border-radius-2xl;
$form-textarea-border-radius-lg:		$border-radius-2xl;

$input-focus-border-color:					tint-color($component-active-bg, 50%);
$input-focus-box-shadow:						$input-btn-focus-box-shadow;

//   form check
$form-check-input-focus-border:     $input-focus-border-color;
$form-check-input-focus-box-shadow: $input-focus-box-shadow;

//   form switch
$form-switch-focus-color: 					$input-focus-border-color;
$form-switch-focus-bg-image:				url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>");

//		form select
$form-select-border-radius:					$border-radius-pill;
$form-select-border-radius-sm:			$border-radius-pill;
$form-select-border-radius-lg:			$border-radius-pill;

$form-select-focus-border-color:		$input-focus-border-color;
$form-select-focus-box-shadow:			0 0 0 $form-select-focus-width $input-btn-focus-color;

//		form range
$form-range-thumb-focus-box-shadow:	0 0 0 1px $body-bg, $input-focus-box-shadow !default;



//*		form validation states
$form-validation-states: (
  "valid": (
    "color": var(--#{$prefix}success-text),
    "icon": $form-feedback-icon-valid,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--#{$prefix}success),
    "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity),
    "border-color": var(--#{$prefix}success),
  ),
  "invalid": (
    "color": var(--#{$prefix}danger-text),
    "icon": $form-feedback-icon-invalid,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--#{$prefix}danger),
    "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}danger-rgb), $input-btn-focus-color-opacity),
    "border-color": var(--#{$prefix}danger),
  )
);