//*		gray colors map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$custom-colors: (
  "cream":  $cream
);

$colors: map-merge($colors, $custom-colors);

$creams: (
  "cream-100": $cream-100,
  "cream-200": $cream-200,
  "cream-300": $cream-300,
  "cream-400": $cream-400,
  "cream-500": $cream-500,
  "cream-600": $cream-600,
  "cream-700": $cream-700,
  "cream-800": $cream-800,
  "cream-900": $cream-900
);



//*		theme color variables
$primary:		$purple;
$secondary:	$red;
$danger:		$orange;
$light:			$gray-100;
$dark:			$gray-900;



//*		theme color map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$primary-text:            $purple-600;
$secondary-text:          $red-600;
$danger-text:             $orange-600;

$primary-bg-subtle:       $purple-100;
$secondary-bg-subtle:     $red-100;
$danger-bg-subtle:        $orange-100;

$primary-border-subtle:   $purple-200;
$secondary-border-subtle: $red-200;
$danger-border-subtle:    $orange-200;



//*		body settings
$body-color:	$gray-900;
$body-bg:			$cream-500;



//*		anchor settings
$link-color:						$secondary;
$link-decoration:				null;
$link-hover-decoration:	underline;



//*		font variables
$font-weight-base:	$font-weight-light;

$h1-font-size:			$font-size-base * 3;
$h2-font-size:			$font-size-base * 2.5;
$h3-font-size:			$font-size-base * 2;



//*		headings variables
$headings-font-family:	$font-family-serif;
$headings-font-weight:	$font-weight-normal;



//*		display headings variables
$display-font-family:	$font-family-serif;
$display-font-weight:	$font-weight-normal;



//*		input button variables
$input-btn-font-family: $font-family-serif;
$input-btn-font-size:		$h4-font-size;



//*		button variables
$btn-font-family:				$input-btn-font-family;
$btn-font-size:					$input-btn-font-size;

$btn-border-radius:			$border-radius-pill;
$btn-border-radius-sm:	$border-radius-pill;



//*		nav variables
$nav-link-color:	$gray-900;



//*		navbar variables
$navbar-light-color:							$gray-900;
$navbar-light-hover-color:				rgba($gray-900, 0.7);
$navbar-light-brand-color:				$gray-900;
$navbar-light-brand-hover-color:	rgba($gray-900, 0.7);